@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body
{
    font-family: 'Kaushan Script', cursive;
    /*font-family: 'Aclonica', sans-serif;*/

    height: 100%;

    background-image: url('../img/bk2.jpg');
    background-size: cover;
}
.brand
{
    font-size: 52px;

    text-align: center;

    color: #c12226;
}
.brand img
{
    height: 100px;
}
#main
{
    width: 100%;
    height: 700px;
    padding: 100px;

	/* opacity: 0.6; */
    color: white;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 200px 200px;
}
.content
{
    font-family: 'Aclonica', sans-serif;

    background-color: rgba(0, 0, 0, .5);
}
.right
{
    margin: 0;
    padding: 0;
}
.content h1
{
    font-size: 42px;

    color: #dab979;
}
.content p
{
    font-size: 18px;
}
.item
{
    width: 100% !important;
}
.mail
{
    margin-bottom: 100px;
    padding: 100px;

    background-color: #c12226;
}
form label
{
    font-family: 'Aclonica', sans-serif;
    font-size: 22px;
}
form span
{
    color: #dab979;
}
